/* open-sans-regular - cyrillic */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-cyrillic-regular.woff2') format('woff2'); 
}
/* open-sans-700 - cyrillic */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v40-cyrillic-700.woff2') format('woff2'); 
}

/* inter-regular - cyrillic */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic-regular.woff2') format('woff2'); 
}